body {
    background-image: url("https://cdn.glitch.global/4369b1c2-cf4c-4844-a3af-258f1c4d8627/1379705204.gif?v=1645719892911");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }